@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');.title{
    font-size: 55px;
}
.form-control {
    border-radius: 10px;
}
.card{
    border-radius: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-bottom: 15px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
}
.btn{
    border-radius: 10px;
    border: none;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.title{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: rgb(82, 80, 80);
}
label{
    color: rgb(82, 80, 80);
    font-family: 'Alegreya Sans SC', sans-serif;
}
footer p{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: rgb(82, 80, 80);
}

.delete{
    color: rgb(255, 2, 2);
}
.delete:hover{
    color: black;
}
.see{
    color:#17a2b8;
}

/* Responsive Desing*/
@media screen and (min-width:500px) and (max-width:1000px){
    .title{
        font-size: 40px;
    }
    .form-control{
        width: 90% !important;
    }
    .card{
        width: 80% !important;
    }
    .card h3{
        font-size: 20px;
    }
    .delete{
        font-size: 25px;
    }
   
}